/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}
table thead tr {
  border-bottom: 2px dotted red;
}

.age:after {
  content: " ans"; 
}

button {
  background-color: #eee;
  box-shadow: 1 1 2 rgba(0,0,0, 0.2);
  padding: 2px 10px;
  margin: 0px 5px;
  border-radius: 15%;
}
table button {
  color: #555;
}
